{% extends './base.html' %}

{% block titulo %}Actividades{% endblock titulo %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/tornquist/publica/css/zonasAlojamiento.css'%}?v={% now 'U' %}">
{% endblock css %}


{% block contenido %}
<section class="card-board">

  {% for restaurante in restaurantes %}

  <div class="card">
    <div class="face front">
        {% load static %}<img src="{{restaurante.url_img}}"  alt="...">
        <h3>{{restaurante.nombre}}</h3>
    </div>

    <a href="tel:{{restaurante.telefono}}">
      <div class="face back">
        <h3>{{restaurante.nombre}}</h3>
        <ul>
            <li>
              <i class="fas fa-map-marker-alt"></i> - {{restaurante.ubicacion}}
            </li>
            
            <li><i class="fas fa-phone"></i> - {{restaurante.telefono}}</li>
            <li>
              <i class="fas fa-house"></i> - {{restaurante.direccion}}
            </li>
            <li><i class="fas fa-envelope-open-text"></i> - {{restaurante.pagina_web}}</li>
        </ul>
      </div>
    </a> 
  </div> 

  {% endfor %}
         
</section>
 
{% endblock contenido %}